body { 
    font-family: Arial, sans-serif; 
    text-align: center; 
}
.container { 
    max-width: 600px; 
    margin: auto; 
    padding: 20px; 
}
.option { 
    display: block; 
    width: 100%; 
    padding: 10px; 
    margin: 5px 0; 
    border-radius: 10px;
    cursor: pointer; 
    background: #f0f0f0; 
    border: none; 
}

.option:hover {
    background: #ddd; 
}

.correct {
    background: green !important; 
    color: white; 
}

.wrong { 
    background: red !important; 
    color: white; 
}
#next, #restart { 
    display: none; 
    margin-top: 20px; 
}

#logout {
    border-radius: 5px;
    width: 20%;
    height: auto;
    font-size: 120%;
}


#logo {
    width: 10%;
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    justify-content: center;
}

#slap {
    font-weight: bold;
    font-size: 120%;
    margin-top: -2%;
}



/* label {
    background-color: grey;
    border: white;
    border-radius: 10px;
    padding: 5px;
    width: 10%;
    display: flex;
    justify-content: center;
}

input {
    display: flex;
    justify-content: center;
} */